|__ program
    |-- abc //Program_heading
    |__ //Block
        |-- //Declaration part
        |   |-- const
        |   |   |-- a
        |   |   |   |__ 3
        |__ //Statement part
            |__ //Statement sequence
