|__ program
    |-- abc //Program_heading
    |__ //Block
        |-- //Declaration part
        |   |-- var
        |   |   |-- a
        |   |   |   |__  : real
        |   |-- abc	//Function_declaration
        |   |   |--  : integer
        |   |   |-- //Arguments list
        |   |   |__ //Block
        |   |       |-- //Declaration part
        |   |       |__ //Statement part
        |   |           |__ //Statement sequence
        |__ //Statement part
            |__ //Statement sequence
                |-- //Assignment_statement
                |   |-- a
                |   |   |__  : real
                |   |__ //Typecast
                |       |--  : real
                |       |__ abc//Function call
                |           |--  : integer
