|__ program
    |-- abc //Program_heading
    |__ //Block
        |-- //Declaration part
        |   |-- var
        |   |   |-- a
        |   |   |   |__  : integer
        |   |   |__ i
        |   |       |__  : integer
        |__ //Statement part
            |__ //Statement sequence
                |-- write
                |   |__ addition
                |       |-- //Typecast
                |       |   |--  : real
                |       |   |__ a
                |       |       |__  : integer
                |       |__ 1.5
