Line Col  Type           Value                         Original                      
1    8    Float          123                           123.000                       
1    8    End of file    EOF                                                         
