Line Col  Type           Value                         Original                      
1    10   Float          1.2312                        1.231200                      
1    10   End of file    EOF                                                         
