|__ program
    |-- abc //Program_heading
    |__ //Block
        |-- //Declaration part
        |   |-- var
        |   |   |-- a
        |   |   |   |__  : integer
        |__ //Statement part
            |__ //Statement sequence
                |-- //Assignment_statement
                |   |-- a
                |   |   |__  : integer
                |   |__ 5
