|__ program
    |-- abc //Program_heading
    |__ //Block
        |-- //Declaration part
        |   |-- var
        |   |   |-- hello
        |   |   |   |__  : real
        |   |-- a	//Function_declaration
        |   |   |--  : integer
        |   |   |-- //Arguments list
        |   |   |   |-- b
        |   |   |   |   |__  : real
        |   |   |   |__ d
        |   |   |       |__  : integer
        |   |   |__ //Block
        |   |       |-- //Declaration part
        |   |       |   |-- var
        |   |       |   |   |-- c
        |   |       |   |   |   |__  : integer
        |   |       |__ //Statement part
        |   |           |__ //Statement sequence
        |   |               |-- //Assignment_statement
        |   |               |   |-- b
        |   |               |   |   |__  : real
        |   |               |   |__ //Typecast
        |   |               |       |--  : real
        |   |               |       |__ d
        |   |               |           |__  : integer
        |   |               |__ //Assignment_statement
        |   |                   |-- c
        |   |                   |   |__  : integer
        |   |                   |__ 3
        |__ //Statement part
            |__ //Statement sequence
                |-- //Assignment_statement
                |   |-- hello
                |   |   |__  : real
                |   |__ //Typecast
                |       |--  : real
                |       |__ a//Function call
                |           |--  : integer
                |           |-- 2.5
                |           |__ a//Function call
                |               |--  : integer
                |               |-- 1.5
                |               |__ a//Function call
                |                   |--  : integer
                |                   |-- //Typecast
                |                   |   |--  : real
                |                   |   |__ 1
                |                   |__ 0
